@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

body {
    font-family: 'Red Hat Text', sans-serif;
    height: 100vh;
    background: url(../images/bg-stars.svg) no-repeat, url(../images/pattern-hills.svg) no-repeat, rgba(29, 30, 40, 1);
    background-size: 100%, 900px 168px;
    background-position: center, bottom right;
}

@media screen and (min-width: 899px) {
    body {
        background: url(../images/bg-stars.svg) no-repeat, url(../images/pattern-hills.svg) no-repeat, rgba(29, 30, 40, 1);
        background-size: 100%, 100%;
        background-position: center, bottom;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* timer div */

.timer-div {
    margin-top: 142px;
    margin-bottom: 259px;
    width: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 54px;
}


/* timer heading */

.timer-heading h1 {
    color: rgba(255, 255, 255, 1);
    width: 327px;
    font-size: 18px;
    font-weight: 700;
    line-height: 23.81px;
    letter-spacing: 6.14px;
    text-align: center;
}

/* timer */

.timer {
    width: 327px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.timer-box {
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13.73px;
}

.timer-box p {
    color: rgba(131, 133, 169, 1);
    width: 70px;
    font-size: 7px;
    font-weight: 700;
    line-height: 9.26px;
    letter-spacing: 2.96px;
    text-align: center;
}

.timer-item span {
    color: rgba(251, 94, 132, 1);
    width: 48px;
    font-size: 36px;
    font-weight: 700;
    line-height: 71px;
    letter-spacing: -1.08px;
    text-align: center;
}

.timer-item {
    background: linear-gradient(rgba(52, 54, 80, 0.5) 50%,rgba(52, 54, 80, 1)50%);
    width: 70px;
    height: 66.27px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all .4s ease-in;
    transform-style: preserve-3d;
    cursor: pointer;
    border-bottom: 3px solid rgba(25, 26, 35, 1);
}

.timer-item.active {
    transform: translateY(360deg);
}


.timer-item::before {
    position: relative;
    content: "";
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: rgba(25, 26, 35, 1);
    border-radius: 3px;
    left: -8px;
}

.timer-item::after {
    position: relative;
    content: "";
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: rgba(25, 26, 35, 1);
    border-radius: 3px;
    right: -12px;
}

/* social icons */

.social-icons {
    display: flex;
    justify-content: center;
    gap: 32px;
}
